<o-form-layout-manager title="{{'CUSTOMERS' | oTranslate }}" separator=" " mode="dialog" label-columns="NAME;SURNAME">
  <div fxFlex>
    <o-grid #grid  columns="CUSTOMERID;ID;PHOTO;NAME;SURNAME;STARTDATE;EMAIL" service="customers" entity="customer" keys="CUSTOMERID" 
    orderable="yes" quick-filter="yes" sortable-columns="ID;SURNAME" sort-column="ID" pagination-controls="yes"  gutter-size=5px cols="3">
    
    <o-grid-item *ngFor="let list of grid.dataArray">
      <div  class="image">
        <img src="./assets/images/customer.png">
      </div>
      <o-column title-label="" appearance='outline'>
        <mat-divider fxFlex></mat-divider>
        <div class="ID"> {{ list.ID }}</div>
        <div class="NAME"> {{ list.NAME }}</div>
        <div class="SURNAME"> {{ list.SURNAME }}</div>
        <div class="STARTDATE"> {{ list.STARTDATE | date }}</div>
        <div class="EMAIL"> {{ list.EMAIL }}<mat-icon>email</mat-icon><span></span></div>
        <mat-divider fxFlex></mat-divider>
          
      </o-column>
    </o-grid-item>
    
  </o-grid>  
  </div>
 </o-form-layout-manager>